@model TicketSupport.Models.tblyeucauhotrokythuat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblyeucauhotrokythuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_yeu_cau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_yeu_cau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noi_dung_yeu_cau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noi_dung_yeu_cau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_tiep_nhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_tiep_nhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_xu_ly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_xu_ly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trang_thai_xu_ly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trang_thai_xu_ly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblkhachhang.ho_ten_khach_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblkhachhang.ho_ten_khach_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblphongban.ten_phong_ban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblphongban.ten_phong_ban)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
