@model TicketSupport.Models.tblyeucauhotrokythuat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="text-danger">Xác nhận xóa yêu cầu hỗ trợ này?</strong>
                            </div>

                            <div class="col-md-6 text-right">
                                <a href="@Url.Action("Index", "YeuCauKTs")" class="btn-sm btn-info"><i class="fa fa-long-arrow-alt-left"> Quay lại</i></a>
                                <a class="form-actions no-color">
                                    <button class="button-sm btn-danger" type="submit" name="Delete">Xóa [Del] <i class="fa fa-trash"></i> </button>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Mã yêu cầu</th>
                                <th>
                                    Tên yêu cầu
                                </th>

                                <th>
                                   Tên khách hàng
                                </th>
                                <th>
                                    Tên phòng ban
                                </th>


                            </tr>


                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.ma_yeu_cau)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ten_yeu_cau)
                                </td>
                                <td>
                                    @ViewBag.tenkhach
                                </td>
                                <td>
                                    @ViewBag.tenphong
                                </td>



                            </tr>


                        </table>

                    </div> <!-- /.card-footer-->
                </div><!-- /.card -->
            </section><!-- /.content -->
        </div> <!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
}
