@model TicketSupport.Models.tblyeucauhotrokythuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">TẠO MỚI YÊU CẦU KĨ THUẬT</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Index","YeuCauKTs")" class="btn-sm btn-info"><i class="fa fa-long-arrow-alt-left"> Quay lại</i></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        @*Phần nhập dữ liệu bằng tay*@
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ma_yeu_cau, "Mã yêu cầu", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <div class="form-control"> @Html.DisplayFor(model => model.ma_yeu_cau) </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ten_yeu_cau, "Tên yêu cầu", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <div class="form-control"> @Html.DisplayFor(model => model.ten_yeu_cau) </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ma_khach_hang, "Tên khách hàng", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <div class="form-control"> @ViewBag.tenkhach </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ma_phong_ban, "Tên phòng ban", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <div class="form-control"> @ViewBag.tenphong </div>
                                </div>
                            </div><div class="form-group">
                                @Html.LabelFor(model => model.trang_thai_xu_ly, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-4" })
                                      <div class="col-md-10">
                                          <div class="form-control"> @Html.DisplayFor(model => model.trang_thai_xu_ly) </div>
                                      </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ngay_tiep_nhan, "Ngày tiếp nhận", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <div class="form-control"> @Html.DisplayFor(model => model.ngay_tiep_nhan) </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.noi_dung_yeu_cau, "Nội dung yêu cầu", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    <textarea readonly style="height: auto" rows="5" class="form-control"> @Html.DisplayFor(model => model.noi_dung_yeu_cau) </textarea>
                                </div>
                            </div>

                        </div>

                    </div>

                   

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->