@model TicketSupport.Models.tblphongban

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblphongban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ma_phong_ban)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ma_phong_ban)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ten_phong_ban)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ten_phong_ban)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.trang_thai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.trang_thai)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_phong_ban }) |
    @Html.ActionLink("Back to List", "Index")
</p>