@model TicketSupport.Models.tblnguoidung

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="text-danger">TẠO MỚI NGƯỜI SỬ DỤNG</strong>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="@Url.Action("Index","tblnguoidungs")" class="btn-sm btn-info"><i class="fa fa-long-arrow-alt-left"> Quay lại</i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            @*Phần nhập dữ liệu bằng tay*@
                            <div class="col-md-6">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ho_ten_nguoi_dung, "Họ tên người dùng", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ho_ten_nguoi_dung, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ho_ten_nguoi_dung, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.so_dien_thoai, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.so_dien_thoai, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.so_dien_thoai, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ten_dang_nhap, "Tên Đăng Nhập", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ten_dang_nhap, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ten_dang_nhap, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.mat_khau, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.mat_khau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.mat_khau, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label for="accordionExample" class="control-label">Phòng ban</label>
                                <div class="col-md-10">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card ">
                                            <div class="card-header d-flex justify-content-between align-items-center" id="headingPhongBan">
                                                <span>Chọn phòng ban</span>
                                                <button class="btn btn-sm btn-info ml-auto" type="button" data-toggle="collapse" data-target="#collapsePhongBan"
                                                        aria-expanded="true" aria-controls="collapsePhongBan">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>

                                            <div id="collapsePhongBan" class="collapse p-3" aria-labelledby="headingPhongBan" data-parent="#accordionExample">
                                                @foreach (var cat in (MultiSelectList)ViewBag.PhongBans)
                                                {
                                                    @* <div cla@*ss="form-check">
                            <input class="form-check-input" name="nameCategory" value="@cat.Value" id="category_@cat.Value" type="checkbox" @(cat.Selected ? "checked" : "") />
                            <label class="form-check-label" for="category_@cat.Value">@cat.Text</label>
                        </div> *@
                                                    <div class="checkbox">
                                                        <label style="font-weight: normal">
                                                            <input type="checkbox" name="chon" value="@cat.Value" @(cat.Selected ? "checked" : "") />
                                                            @cat.Text
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label for="cc">Phòng Ban</label>
                                    <select id="cc" class="form-control selectpicker" multiple data-live-search="true" name="phongBan">
                                        @foreach (var cat in (MultiSelectList)ViewBag.PhongBans)
                                        {
                                            <option value="@cat.Value" @(cat.Selected ? "selected" : "")>@cat.Text</option>
                                        }
                                    </select>
                                </div>*@






                            </div>
                        </div>

                        @*Sua nut Create*@
                        <button class="btn-sm btn-success" type="submit" name="create"> Save <i class="fa fa-save"></i></button>

                    </div> <!-- /.card-footer-->
                </div><!-- /.card -->
            </section><!-- /.content -->
        </div> <!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
}