@model TicketSupport.Models.tblnguoidung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="text-danger">Xác nhận xóa người sử dụng này?</strong>
                            </div>

                            <div class="col-md-6 text-right">
                                <a href="@Url.Action("Index", "tblnguoidungs")" class="btn-sm btn-info"><i class="fa fa-long-arrow-alt-left"> Quay lại</i></a>
                                <a class="form-actions no-color">
                                    <button class="button-sm btn-danger" type="submit" name="Delete">Xóa [Del] <i class="fa fa-trash"></i> </button>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Id</th>
                                <th>
                                    Họ
                                </th>
                                <th>
                                    Tên
                                </th>
                                <th>
                                   Email
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                

                            </tr>


                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.ma_nguoi_dung)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ho_nguoi_dung)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ten_nguoi_dung)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.so_dien_thoai)
                                </td>
                                

                            </tr>


                        </table>

                    </div> <!-- /.card-footer-->
                </div><!-- /.card -->
            </section><!-- /.content -->
        </div> <!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
}