@model TicketSupport.Models.tblquyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblquyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_quyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_quyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_tao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_tao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cap_nhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cap_nhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblchucnang.ten_chuc_nang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblchucnang.ten_chuc_nang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_quyen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
